[user]
  name = Daniel Paulino
  email = danielpaulino030@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[merge]
  tool = "kdiff3"
  strategy-option = "theirs"
[rebase]
  strategy-option = "theirs"
[mergetool "kdiff3"]
  trustExitCode = true
[color]
  ui = true
[alias]
  ff = flow feature
  fh = flow hotfix
  fr = flow release
  co = checkout
  p = push
  bd = branch -d
  s = status
  pu = pull
  l = log
  cm = commit -m
  ca = commit --amend
  mt = mergetool
  rc = rebase --continue
[push]
  default = tracking
