[user]
	name = Daniel Paulino
	email = danielpaulino030@gmail.com
[core]
	excludesfile = /Users/daniel/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[alias]
	ff = flow feature
	fh = flow hotfix
	fr = flow release
