[user]
	name = Daniel Paulino
	email = danielpaulino030@gmail.com
[core]
	excludesfile = /Users/daniel/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[alias]
	ff = flow feature
	fh = flow hotfix
	fr = flow release
	co = checkout
	p = push
	bd = branch -d
