[user]
	name = Daniel Paulino
	email = danielpaulino030@gmail.com
[core]
	excludesfile = /home/daniel/.gitignore_global
[merge]
  tool = kdiff3
[color]
	ui = true
[alias]
	ff = flow feature
	fh = flow hotfix
	fr = flow release
	co = checkout
	p = push
	bd = branch -d
	s = status
	pu = pull
	l = log
	cm = commit -m
	ca = commit --amend

[push]
	default = simple
